
.mybtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    gap: 50px;
}

.myDiv{
    text-align: center;
    margin-top: 50px;
}
.paper{
    background-color: black;
  border-radius:50% ;
  width: 100px;
  height:100px;
  color: gold;
}
.rock{
    background-color: black;
  border-radius:50% ;
  width: 100px;
  height:100px;
  color: gold;
}
.scissors{
    background-color: black;
  border-radius:50% ;
  width: 100px;
  height:100px;
  color: gold;
}